PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/splitwise?retryWrites=true&w=majority
JWT_SECRET=replace_this_with_a_long_random_string
CLIENT_URL=http://localhost:5173

# Email (used to send signup verification codes) - see README section
# "Setting up email verification" for how to get a Gmail App Password.
EMAIL_USER=youraddress@gmail.com
EMAIL_PASS=your_16_character_app_password
EMAIL_FROM_NAME=Splitzy
# Only needed if you're using a non-Gmail SMTP provider:
# EMAIL_HOST=smtp.yourprovider.com
# EMAIL_PORT=587
